<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.environment.product %></title>
<meta name="viewport" content="maximum-scale=1,initial-scale=1,width=device-width,user-scalable=0" />
<link rel="icon" type="image/x-icon" href="//cdn.datamplan.com/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" >
<script>LANDINGPAGEDATA</script>
<style type="text/css">
</style>
</head>
<body>
<div id="react-app-container">
</div>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/browser.min.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/react.production.min.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/react-dom.production.min.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/react-router-dom.v5.1.2.min.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/logger.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/clsx.min.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/axios.min.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/crypto-js.min.js"></script>
<script type="text/javascript" src="//cdn.userconsole.datamplan.com/js.cookie.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/aws-amplify/4.3.8/aws-amplify.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/html-react-parser@1.2.7/dist/html-react-parser.min.js"></script>
</body>
</html>